<h1 class="mt-4">Dashbaord</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<br>
<br>
<b>list of uploaded files</b>
<a href="/public" class="btn btn-primary">Uploaded files</a>
<br>
<br>
<br>
<br>
<b>the max count of upload files in 1</b>
<br>
<div>
    <form action="/upload" name="fileUpload" method="post" enctype="multipart/form-data">
        <input type="file" name="files"
        class="btn btn-primary" id="myFile"
        >
        <button class="btn btn-primary" type="button" id="uploadButton" style="border-radius: 4px;">
            Upload
        </button>
        <div style="display:none;margin-top:10px;" class="progress">
            <div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped active">0% </div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <p id="msg"></p>
</div>
